<div class="container">
  <p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Aspernatur consectetur facilis quia ab fuga doloribus distinctio, ipsam veritatis, nemo at eos reprehenderit quod excepturi necessitatibus, est soluta, maiores nostrum accusantium.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore laudantium molestias iusto, voluptatum, soluta dolorum officia. Aperiam quaerat, obcaecati eius ut. Consequuntur, iure ea rerum aut voluptatem facere neque ad!</p>
</div>