  <header>
    <h1>HOME</h1>
    <img style="width: 100%; height: 25% ; object-fit: cover; object-position: 50% 12%;" src="https://c.wallhere.com/photos/f3/f0/Star_Wars_Sith_Darth_Vader_Darth_Maul_Darth_Sidious_Count_Dooku_digital_art_artwork-255147.jpg!d" />
  </header>

  <%= link_to 'About', about_path %> | 
  <%= link_to 'Articles', articles_path %>

  <div style="display: flex;justify-content: space-around;">
    <p style="border-right: 2px solid black ;">Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Aspernatur consectetur facilis quia ab fuga doloribus distinctio, ipsam veritatis, nemo at eos reprehenderit quod excepturi necessitatibus, est soluta, maiores nostrum accusantium.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore laudantium molestias iusto, voluptatum, soluta dolorum officia. Aperiam quaerat, obcaecati eius ut. Consequuntur, iure ea rerum aut voluptatem facere neque ad!</p>
  </div>