$navbar-default-bg: #212F3D;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float: left;
	font-style: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

.center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url('heaven.jpg');
	background-size: cover;
	height: 550px;
}

.jumbotron h1 {
	color: white
}

.articles-actions {
	border-top: 1px solid #bfbfbf;
	padding-top: 15px;
	margin-top: 15px;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #bfbfbf;
	color: #808080;
}
footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;

}