<div class="container">
	<footer>
		<small>
		Alpha Blog from<%= link_to "Rails Heroes Course", "https://railsheroescourse.fr" %> Copyright by Amine BEN TALEB
	</small>
	<nav>
		<ul>
			<li><%= link_to "À Propos", about_path %></li>
		</ul>
	</nav>
</footer>
</div>